<div class="Header">
  <nav class="NavigationBar" role="navigation">
    <div class="Container HeaderContainer">
      <div class="NavigationBar__menus">
        <%= link_to root_path do %>
          <%= image_tag("common/BookShelfie-logo.png", class: "ServiceLogo") %>
        <% end %>

        <ul class="NavigationMenuList">

        </ul>
      </div>

      <div class="NavigationBar__icons">
        <ul class="NavigationIconList">
          <li class="NavigationIconList__item NavigationIconList__item--search">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.name %></strong>.
              <%= link_to "Settings", edit_user_registration_path %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
            <% end %>
          </li>

          <li class="NavigationIconList__item">
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
